
{% extends 'admin/master.html' %}

{% block body %}
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!-- Header -->
                <h1 class="mt-5 text-center">Welcome to Nextpie Admin Dashboard</h1>

                <!-- Optionally, add any other content here -->
                <div class="card mt-4">
                    <div class="card-header">
                        <h4>Admin Panel Overview</h4>
                    </div>
                    <div class="card-body">
                        <p>Here you can edit users, roles, and other key records from Group, Project and Run tables.</p>
                        <ul>
                            <li><strong>Users:</strong> Manage user accounts and roles.</li>
                            <li><strong>Group:</strong> Search and modify details sucha as group name.</li>
                            <li><strong>Project:</strong> View system activity and statistics.</li>
                            <li><strong>Run:</strong> View system activity and statistics.</li>
                            <li><strong>Process:</strong> View and search processes by task id, Hash, native id, name, status and exit.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
{% endblock %}
