{% extends "layouts/base.html" %}

{% block title %} Load Data {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        /* Adding some basic styling and transition for smooth disappearance */
        .input-field {
            transition: opacity 1s ease-out;
        }

        .faded {
            opacity: 0;  /* Make the field content fade out */
        }
    </style>
    {% endblock stylesheets %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script src="/static/assets/plugins/jquery/js/jquery-mini.js"></script> -->
<script src="/static/assets/js/pages/upload.js"></script>
{% endblock javascripts %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{title}}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Input Data</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">{{title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <!-- <div id="message" style="display: none;" class="alert alert-primary" role="alert"></div> -->
                
                <div id="message" style="display: none;" class="alert alert-info alert-dismissible fade show" role="alert">
                    <span id="message-text"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Nextflow run metadata</h5>
                            </div>
                            <div class="card-body">
                                
                                    
                                        <form id="form_upload" method="post" enctype=multipart/form-data>

                                            
                                            <div class="form-group">
                                                <label for="workflowName">{{ form.workflowName.label }}</label>
                                                {{ form.workflowName( id="workflowName", class_="form-control", value=form.workflowName._name, placeholder="Eg. RNAseq") }}
                                                <small id="workflowName" class="form-text text-muted">Provide workflow/pipeline name.</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="workflowVer">{{ form.workflowVer.label }}</label>
                                                {{ form.workflowVer( id="workflowVer", class_="form-control", value=form.workflowVer._name, placeholder="X.X.X") }}
                                                <small id="workflowVer" class="form-text text-muted">Provide workflow/pipeline version in X.X.X format.</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="workflowVer">{{ form.groupName.label }}</label>
                                                {{ form.groupName( id="groupName", class_="form-control", value=form.groupName._name, placeholder="Eg. Single cell unit") }}
                                                <small id="workflowVer" class="form-text text-muted">Skip if not applicable. Both research group name and research project name will be generated randomly if skipped.</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="workflowVer">{{ form.projectName.label }}</label>
                                                {{ form.projectName( id="projectName", class_="form-control", value=form.projectName._name, placeholder="Eg. Mouse heart transplant") }}
                                                <small id="workflowVer" class="form-text text-muted">Skip if not applicable. Both research group name and research project name will be generated randomly if skipped.</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="reportFile">{{ form.reportFile.label }}</label>
                                                
                                                {{ form.reportFile( class_="form-control", placeholder="Pipeline_report.txt") }}
                                                
                                                <small id="reportFile" class="form-text text-muted">Provide Pipeline_report.txt generated by a successful/failed Nextflow workflow run. </br><strong>NOTE:</strong> This file has priority over above fileds. The field values will be reset when this file is provided.</small>
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="traceFiles">{{ form.traceFiles.label }}</label>
                                                
                                                {{ form.traceFiles( class_="form-control", placeholder="Trace.txt from Nextflow run.") }}
                                                
                                               
                                                
                                                <small id="traceHelp" class="form-text text-muted">Provide one or more Trace.txt files generated by a successful/failed Nextflow workflow run.</small>
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                
                                                <progress id="progressbar" max="100" value="0" style="width:100%;display: none;"> 0% </progress>
                                                
                                                <p class="percent"></p>
                                            <div class="d-flex justify-content-between">
                                                <button type="button" id="reset-button" class="btn btn-primary" style="align:right">Reset</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>

                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                      <div class="card">
                      <div class="card-header">
                                <h5>Help</h5>
                            </div>
                            <div class="card-body">
                            <p>It is discouraged to use this page to upload data. It is highly recommended to upload data from Nextflow workflows/pipelines to Nextpie using Nextflow plugin <a href="https://github.com/bishwaG/nf-nextpie" target="_blank">nf-nextpie</a>.
                            For more details on setting-up Nextflow workflow for an automatic push refer to <a href="https://github.com/bishwaG/nf-nextpie" target="_blank">Nextpipe Github</a> pages. However, it does not mean that you cannot upload data using this page. Plase refer to the <a href="https://youtu.be/9uKZO2qpCug" target="_blank">Youtube video</a> on uploading data using this page.</p>
                            
                            <p>
                            If your Nextflow workflow generates <i>Pipeline_report.txt</i> file please adjust it in your pipeline in such a way that
                            <ul>
                                <li> it contains pipeline/workflow name and version exactly on the second line. </li>
                                <li> it has a line with <b>Run Name:</b> followed by a run (or a project) name.</li>
                                <li> it had a line with <b>Group:</b> followed by a group name.</li>
                            </ul>
                            </p>
                            
                            <p>If your Nextflow workflow does not produce a report file containing above mentioned information either you have to modify your workflow to generate one or you can use the form fields in this page to provide such details. NOTE: the file has higher priority over the iput fields.</p>
                            
                            </div>
                            
                            <div class="card-body">
                            <h5>Example Pipeline_report.txt file</h5>
                            <pre class="language-markup" tabindex="0">
========================================
 SC-workflow  v3.0.0
========================================
Run Name: human_melanoma
Group: Immunology_and_infections
                            </pre>
                            </div>
                      </div>
                </div>

                </dev>
            </div>
            
            <!-- ROW -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="display: none;" id="report-file-view">
                      <div class="card-header">
                      <h5 id="file-header-1"></h5>
                       <pre id="output-1"></pre>
                      </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="display: none;" id="trace-file-view">
                      <div class="card-header">
                      <h5 id="file-header-2"></h5>
                       <pre id="output-2"></pre>
                      </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

{% endblock content %}


