{% extends "layouts/base.html" %}

{% block title %} Load Data {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/plugins/jquery/js/jquery-mini.js"></script>
<script src="/static/assets/js/pages/upload.js"></script>
{% endblock javascripts %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{title}}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Input Data</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">{{title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <!-- <div id="message" style="display: none;" class="alert alert-primary" role="alert"></div> -->
                
                <div id="message" style="display: none;" class="alert alert-info alert-dismissible fade show" role="alert">
                    Unable to reach the server.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Nextflow run metadata</h5>
                            </div>
                            <div class="card-body">
                                
                                    
                                        <form id="form_upload" method="post" enctype=multipart/form-data>

                                            
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">{{ form.reportFile.label }}</label>
                                                
                                                {{ form.reportFile( class_="form-control", placeholder="Pipeline_report.txt") }}
                                                
                                                <small id="emailHelp" class="form-text text-muted">Provide Pipeline_report.txt generated by a successful/failed Nextflow workflow run.</small>
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">{{ form.traceFiles.label }}</label>
                                                
                                                {{ form.traceFiles( class_="form-control", placeholder="Trace.txt from Nextflow run.") }}
                                                
                                               
                                                
                                                <small id="traceHelp" class="form-text text-muted">Provide one or more Trace.txt files generated by a successful/failed Nextflow workflow run.</small>
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                
                                                <progress id="progressbar" max="100" value="0" style="width:100%;display: none;"> 0% </progress>
                                                
                                                <p class="percent"></p>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>                                
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                      <div class="card">
                      <div class="card-header">
                                <h5>Help</h5>
                            </div>
                            <div class="card-body">
                            <p>It is discouraged to use this page and highly recommended to push data from Nextflow workflows/pipelines to Nextpie via a <a href="api/v1.0" target="_blank">REST API</a> in an automatic fashion.
                            For more details to setup Nextflow workflow for an automatic push refer to <a href="https://version.helsinki.fi/fimm/nextpie.git" target="_blank">Nextpipe GitLab</a> pages.
                            However, data can also be populated to Nextpie using left hand side form.</p> 
                            
                            <p>
                            If your Nextflow workflow generates <i>Pipeline_report.txt</i> file
                            which should contain pipeline/workflow name and version exactly on the second line as shown in the following example. The workflow name (SC-workflow) and version (3.0.0) is extracted from that line. A project name is extracted from any line exactly matching "Run Name:" and a group is extracted from any line matching "Group:".
                            </p>
                            
                            <p>If your Nextflow workflow does not produce a report file containing above mentioned information etiher you have to modify your workflow to generate one or you can create one manually and upload with Trace files.</p>
                            
                            <p>If you are using Nextpie <a href="api/v1.0" target="_blank">REST API</a> to push the data from Nextflow workflow to Nextpie you do not need to worry about above mentioned requirements. You can use <i>Nextpie()</i> Groovy function in your workflow and provide workflow name, workflow version, project name and group name as parameters</p>
                            </div>
                            
                            <div class="card-body">
                            <pre class="language-markup" tabindex="0">
========================================
 SC-workflow  v3.0.0
========================================
Run Name: human_melanoma
Group: Immunology_and_infections
                            </pre>
                            </div>
                      </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock content %}


