/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Example pipeline config file
 * -------------------------------------------------
 */


// Global default params, used in configs
params {
	// output direcotry
	outDir = "./results"
	
	// Extra options bach processing systems
	clusterOptions = false

	//Pipeline name and version
	workflow_name = 'Test-workflow'
	workflow_ver  = '0.0.1' 

	//Minimum version of Nextflow required
	nf_required_version = '20.10.0'
	
	// Nextpie config
	nextpie_host    = "localhost"
	nextpie_port    = 5000
	nextpie_api_key = "jWCr-uqJB9fO9s1Lj2QiydXs4fFY2M"
	nextpie_enable  = true
	
}


// Enable trace by default
trace {
  enabled   = true
  overwrite = true
  file      = "${params.outDir}/pipeline_info/Trace.txt"
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.outDir}/pipeline_info/Timeline.html"
}
report {
  enabled   = true
  overwrite = true
  file      = "${params.outDir}/pipeline_info/Report.html"
}

