/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Example pipeline config file
 * -------------------------------------------------
 */


// Global default params, used in configs
params {
	// output direcotry
	outDir = "./results"
	
	// Extra options bach processing systems
	clusterOptions = false

	//Pipeline name and version
	//workflow_name = 'Example-pipeline'
	//workflow_ver  = '0.0.2' 

	//Minimum version of Nextflow required
	nf_required_version = '24.10.0'
	
}


manifest { 
          name     = 'Test-workflow'
          version  = '2.1.0'
}


// Nextflow plugins
//plugins {
//  id 'nf-nextpie'
//}



// Enable trace by default
trace {
  enabled   = true
  overwrite = true
  file      = "${params.outDir}/pipeline_info/Trace.txt"
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.outDir}/pipeline_info/Timeline.html"
}
report {
  enabled   = true
  overwrite = true
  file      = "${params.outDir}/pipeline_info/Report.html"
}

